body {
  margin: 0;
  font-family: sans-serif;
  color: #eee;
  background-color: #222;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 22px;
  padding: 10px;
}

form {
  background-color: transparent;
  padding: 20px 0;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 55px rgb(182, 177, 177);
  margin-top: 50px;
  border-radius: 8px;
}

.form_input {
  padding: 10px 20px;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  border: none;
  border: 1px solid #666;
  box-shadow: 0 0 15px #0003;
  background-color: transparent;
  border-radius: 4px;
  color: #eee;
  resize: vertical;
}

textarea {
  min-width: 100%;
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
  font-family: sans-serif;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #aaa;
}

html.ligth {
  color: antiquewhite;
}
